<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>c3iGv8xGqShtdUQ2V2VI2wtUd2M52gQOXMfQNRn643G9vs0Z5j</string>
	<key>API Key</key>
	<string>hHVlyKbpHmydmlYpqTCJhAlki</string>
</dict>
</plist>
